<!DOCTYPE html>
<html>

	<header>
		<title>Page Title</title>
		<link rel="stylesheet" href="styles.css">
	</header>

	<Body>
		<h1> Welcome to my Webpage </h1>
		<pre>
		<%= image_tag'UV.jpg' %>
		</pre>
		<hr>
		<p1> Yes this is my first page</p1>
		<br>
		<p2> Yes this is my first page on left aligned</p2>
				
		<%= link_to 'About', about_path%>; 
	</Body>
	
</html>

