body 
{
 background-image: url("bg.jpeg")
}
h1 {
	color : black;
	text-align:center;
	font-family : verdana;
	font-size: 300%
	
}
p {
	color : red;
	font-family : courier;
	font-size: 150%
	}
	
#p01 {
	color :blue;
}